{% extends "layout.html" %}
{% block title %}
About
{% endblock %}

{% block body %}

<div class="container-fluid">
    

<div class="container">
    <div style="background-color: black;color: white;" class="jumbotron">
        <h6 style="font-family: calibri;" class="display-12">Muhammad Kashif Sulehry.</h6>
        <p class="lead">BS Software Engineering(Backend Engineer) and BS Politics.</p>
        <hr class="my-4">
        <p>What's app: 03084247892</p>
        <p class="lead">
          <a class="btn btn-danger btn-sm" href="/" role="button">Lahore Garrison University</a>
        </p>
      </div>
      
</div>



<div class="container">
    <div style="background-color: rgb(9, 189, 105);color: white;" class="jumbotron">
        <h5 style="font-family: calibri;" class="display-12">Muhammad Shaheer.</h5>
        <p class="lead">BS-IT( Frontend Engineer )</p>
        <hr class="my-4">
        <p>What's app: 03084247892</p>
        <p class="lead">
          <a class="btn btn-danger btn-sm" href="/" role="button">PUCIT(old campus)</a>
        </p>
      </div>
      
</div>


<div class="container">
    <div style="background-color: rgb(10, 9, 10);color: white;" class="jumbotron">
        <h5 style="font-family: calibri;" class="display-12">Qamar Mushtaq.</h5>
        <p class="lead">BA+B.E.D</p>
        <hr class="my-4">
        <p>What's app: 03048787012</p>
        <p class="lead">
          <a class="btn btn-danger btn-sm" href="/" role="button">Punjab University Lahore</a>
        </p>
      </div>

      
<div class="container">
    <div style="background-color: rgb(9, 189, 105);color: white;" class="jumbotron">
        <h5 style="font-family: calibri;" class="display-12">Technologies we used:</h5>
        <p class="lead">HTML, CSS, BOOTSTRAP and JAVASCRIPT.</p>
       
        <p class="lead">Flask and SQLite3</p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-danger btn-sm" href="/" role="button">Contact us for YOUR WEBSITE.</a>
        </p>
      </div>
      
</div>


</div>







{% endblock %}