{% extends "layout.html" %}

{% block title %}Account{% endblock %}

{% block body %}






<div class="container">
    

<div class="jumbotron">
    <h5 style="font-family: calibri;" class="display-4">Jazz Cash Account Number</h5>
    <p class="lead">Send Money to us We will help others!!.</p>
    <img src="static/jazz.png" width="150px" alt="">
    <hr class="my-4">
    <p> Donate for Good Future of Humanity.</p>
    <p class="lead">
      <a class="btn btn-danger btn-sm" href="/" role="button">Account No: +92 3048787012</a>
    </p>
  </div>


</div>
<br><br>
<div class="container">
    

  <div class="jumbotron">
      <h5 style="font-family: calibri;" class="display-4">UBL Account Number</h5>
      <p class="lead">We will help others wisely.</p>
      <img src="static/ubl.png" width="150px" alt="">
      <hr class="my-4">
      <p> Donate for Good Future of Humanity.</p>
      <p class="lead">
        <a class="btn btn-danger btn-sm" href="/" role="button">Account No: 0377 269888849</a>
      </p>
    </div>
  
  
  </div>

<br>
<div class="container">
    <h3>Quran</h3>"Be steadfast in prayer, practice regular charity, and bow down your heads with those who bow down (in worship)" (2:43).<br>
    <h3>Bible</h3>"Giving is the one thing God tells us to test him in.". <br><br>
   <button class="btn btn-outline-success">Alia Town Baghbanpura Lahore</button>
   <button class="btn btn-outline-warning">Call us: 0304 8787012</button>
   <button class="btn btn-outline-primary">Haishem Tech Inc</button><br><br>
   <button class="btn btn-outline-dark">Kashif Sulehry</button>
   <button class="btn btn-outline-danger">Qamar Mushtaq</button>
   <button class="btn btn-outline-info">Muhammad Shaheer</button>
<br><br><br>

</div>



<script>
  alert("اگر آپ لاہور میں رہتے ہیں تو ، ہم آپ سے مدد لینے یا دینے کے لئے آپ کے ہاں آ سکتے ہیں اگر آپ چاہے تو. شکریہ ")
</script>
{% endblock %}

