{% extends "layout.html" %}

{% block title %}Humanity{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
         
            <h4 style="font-family: calibri;">  Your ten rupees can change someone's life.</h4></div> 
          <hr>
        </div>
    </div>
</div>

<br>
<div class="container">
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="static/w1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Syria</h5>
        <p class="card-text">Over 90 percent of syrians are below the poverty belt, due to Asad regime and civil war between Government and Rebels.</p>
        <p class="card-text"><small class="text-muted">Donate for Them who are victim.</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="static/w2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Syria</h5>
        <p class="card-text">Over 90 percent of syrians are below the poverty belt, due to Asad regime and civil war between Government and Rebels.</p>
        <p class="card-text"><small class="text-muted">Donate for Them who are victim.</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="static/w3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Syria</h5>
        <p class="card-text">Over 90 percent of syrians are below the poverty belt, due to Asad regime and civil war between Government and Rebels.</p>
        <p class="card-text"><small class="text-muted">Donate for Them who are victim.</small></p>
      </div>
    </div>
  </div>
</div>
<br><br>
<!--  -->
<!--  -->
<!--  -->
<div class="container">
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="static/w4.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Jammu and Kashmir</h5>
            <p class="card-text">Jammu and Kashmir is under Indian occupation since 1947, Millions of People has been died, captured or fled from state.</p>
            <p class="card-text"><small class="text-muted">Donate for Them who are victim.</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="static/w5.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Afghanistan</h5>
            <p class="card-text">Afghanistan is in the list of most underrated countries. Afghanistan is under war since 1980s.</p>
            <p class="card-text"><small class="text-muted">Donate for Them who are victim.</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="static/w6.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Syria</h5>
            <p class="card-text">Over 90 percent of syrians are below the poverty belt, due to Asad regime and civil war between Government and Rebels.</p>
            <p class="card-text"><small class="text-muted">Donate for Them who are victim.</small></p>
          </div>
        </div>
      </div>
</div>






{% endblock %}